
.counter_wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.counter_wrapper div {
    margin: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.counter_aperture {
    background: #000;
    display: flex;
    overflow: hidden;
    box-shadow: 0px 0px 5px 5px #0002;
}

.counter_roller {
    background: linear-gradient(0.5turn, #000, #333, #444, #333, #000);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.counter_decimal_point {
    color: #FFF;
    font-weight: bold;
    background: #666;
}

.counter_digits {
    display: flex;
    flex-direction: column;
    color: #FFF;
    font-weight: bold;
}

.counter_d {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mechanical_button {
    background: linear-gradient(0.5turn, #444, #333, #000, #444);
    border-style: solid;
    border-top-color: #888;
    border-left-color: #888;
    border-right-color: #000;
    border-bottom-color: #000;
    border-width: 5px;
    border-radius: 35px;
    height: 70px;
    min-width: 70px;
    color: #FFF;
    font-weight: bold;
    font-size: 30px;
    padding: 0px 20px;
    box-shadow: 0px 0px 5px 5px #0002;
}

.red {
    background: linear-gradient(0.5turn, #F64, #C43, #410, #F64);
}

.mechanical_button:active, .mechanical_button_active {
    border-top-color: #000;
    border-left-color: #000;
    border-right-color: #888;
    border-bottom-color: #888;
    color: #888;
}
